doctype html
html
  head
    meta(charset='utf-8')
    title Title
  body
    .header_fixed
      h1 Fixed
    .container
      - var n = 0
      while n < 20
        h2 Error
         span= n++
    script(type='text/javascript', src='jquery.min.js')
    script(type='text/javascript', src='sticky-header.js')
    script(type='text/javascript').
      $('body').stickyHeader();
